<ion-header>
  <ion-toolbar>
    <ion-title>Minions 2: A Origem de Gru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/home">
    Voltar
  </ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sobre o Filme</ion-card-subtitle>
      <ion-card-title><b>Sinopse</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Minions 2: A Origem de Gru é a continuação das aventuras dos Minions, e desta vez, eles ajudam um Gru ainda criança, descobrindo como ser vilão. Na década de 1970, Gru está crescendo no subúrbio. Fã de um grupo de supervilões conhecido como Vicious 6, Gru traça um plano para se tornar malvado o suficiente para se juntar a eles. Felizmente, ele recebe apoio de seus leais seguidores, os Minions. Juntos, eles exercem suas habilidades enquanto constroem seu primeiro covil, experimentam suas primeiras armas e realizam as primeiras missões. Quando os Vicious 6 expulsam seu líder - o lendário lutador Wild Knuckles - Gru participa de uma entrevista para se tornar seu mais novo membro. A entrevista não vai bem, e só piora depois que Gru os supera e de repente, o garoto se vê como inimigo mortal do grupo do mal. Gru se voltará para uma fonte improvável de orientação, o próprio Wild Knuckles, e descobrirá que até os supervilões precisam de uma ajudinha de seus amigos.
      <img style="border-radius: 5px;"src="https://mundoconectado.com.br/uploads/chamadas/cena-do-trailer-oficial-de-minions-2-a-origem-de-gru-imagem-reproducao-universal-pictures.jpg">
      <ion-text color="primary">
        <h6>Classificação indicativa: Livre</h6>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
