<ion-header>
  <ion-toolbar>
    <ion-title>Vingadores: Ultimato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/home">
    Voltar
  </ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sobre o Filme</ion-card-subtitle>
      <ion-card-title><b>Sinopse</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Em Vingadores: Ultimato, após Thanos eliminar metade das criaturas vivas em Vingadores: Guerra Infinita, os heróis precisam lidar com a dor da perda de amigos e seus entes queridos. Com Tony Stark (Robert Downey Jr.) vagando perdido no espaço sem água nem comida, o Capitão América/Steve Rogers (Chris Evans) e a Viúva Negra/Natasha Romanov (Scarlett Johansson) precisam liderar a resistência contra o titã louco.    <img style="border-radius: 5px;"src="https://mundoconectado.com.br/uploads/chamadas/cena-do-trailer-oficial-de-minions-2-a-origem-de-gru-imagem-reproducao-universal-pictures.jpg">
    <ion-text color="primary">
      <h6>Classificação indicativa: 12 anos</h6>
    </ion-text>
  </ion-card>
</ion-content>
